<!-- <ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tarefas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!--<ion-toolbar>
    <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-app>
      <ion-header translucent>
      </ion-header>
      <ion-content fullscreen>
        <ion-list>
          <ion-list-header>Youngling</ion-list-header>
          <ion-list-header>Modelagem</ion-list-header>
            <ion-item>
              <ion-label>Conseguir prototipar telas de usuário</ion-label>
              <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
              <ion-label>Conseguir simular a execução do sistema</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="primary" slot="start"></ion-checkbox>
              <ion-label>Conseguir apresentar e explicar telas de usuário e clientes</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="primary" slot="start"></ion-checkbox>
              <ion-label>Conseguir elaborar modelos de classes ou entidades e relacionamento</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
              <ion-label>descrever arquitetura do sistema</ion-label>
            </ion-item>
            <!--<ion-item>
              <ion-checkbox color="primary" slot="start"></ion-checkbox>
              <ion-label>Validar Diagramas</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
              <ion-label>Prototipar</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
              <ion-label>Definir tecnologias</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" disabled slot="start"></ion-checkbox>
              <ion-label>Implementar</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
              <ion-label>Implantar</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
              <ion-label>Testar</ion-label>
            </ion-item>
            <ion-item>
              <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
              <ion-label>Corrigir</ion-label>
            </ion-item>-->
          </ion-list>
      </ion-content>
    </ion-app>

  <ion-list-header [hidden]="shownSessions > 0">
    No Sessions Found
  </ion-list-header>

 
</ion-content>
